.picker-container:{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 150px;
    width:80px;
    right: 0;
    top: 0;
    overflow: hidden;

   .picker-container__viewport{
        animation-name: scroll-pickera;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-play-state: running;
        
        background-color:burlywood;
        overflow: visible;
   }
    
    .picker-container__item{
        height: 50px;
        background-color:blue;

        &:nth-child(even){
            background-color:green;
        }

    }

}

@keyframes scroll-picker{
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(-100%);
    }
}

button{
    position: relative;
}