#root{
    /* display: flex; */
    /* stretched */
    height: 100vh;
}
.page-content {
  display: flex;
  flex-direction:column;
  justify-content: stretch;
  height:100vh;
  
  &__main-container {
    background-color: /* blue */var(--page-content-background);
    flex: 1 0 auto;
    margin-left: var(--vertical-menu-width);
    display: flex;
    flex-direction: column;
  }
}
