
:root{
        
    --theme-background-color:hsl(207, 26%, 17%);
    --elements-background-color:hsl(209, 23%, 22%);
    --shadow-elements:hsla(208, 25%, 13%, 0.493);
    
    
    --theme-text:hsl(0, 0%, 100%);
    --theme-input: hsl(0, 0%, 100%);/* input text? */
    
    --selectable-card-color:#234455;

    --menu-font-size: 18px;

    font-family: 'Open Sans','Nunito Sans', sans-serif;
    font-size:33px;
    font-weight: 300;
    /* color: var(--theme-text); */
}
