@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  /* Colors */
  --theme-background-color:hsl(207, 26%, 17%);
  --elements-background-color:hsl(209, 23%, 22%);
  --shadow-elements:hsla(208, 25%, 13%, 0.493);
  --theme-text:hsl(0, 0%, 100%);
  --theme-input: hsl(0, 0%, 100%);
  /* input text? */
  --selectable-card-color:#234455;
  --side-vertical-bar: #343434;
  --container-background: #FFF;
  --tittle-bar-color:#727272;
  --letter-accent-blue: #6672FB;
  /* Sizes */
  --menu-font-size: 18px;
  --vertical-menu-width: 85px;
  --horizontal-top-bar-height: 70px;
  font-family: 'Open Sans','Nunito Sans', sans-serif;
  font-size: 33px;
  font-weight: 300;
  /* color: var(--theme-text); */
}

.page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.page-content .page-content__main-container {
  background-color: #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-left: var(--vertical-menu-width);
}

.page-content .component-container {
  background-color: #FFF;
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9px;
  height: var(--horizontal-top-bar-width);
}

.toggleswitch[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #b6b6b6;
  outline: none;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  cursor: pointer;
}

.toggleswitch:checked[type="checkbox"] {
  background-color: #00c3ff;
}

.toggleswitch[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 14%;
  left: 5px;
  /*  transform:translateX(25px); */
  background: white;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.76);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.76);
  -webkit-transition: .6s;
  transition: .6s;
}

.toggleswitch:checked[type="checkbox"]:before {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  /* left:40px; */
}

.menu-container {
  background-color: var(--side-vertical-bar);
  width: var(--vertical-menu-width);
  height: 100vh;
  overflow: hidden;
  position: absolute;
  -webkit-transition: width 300ms;
  transition: width 300ms;
}

.menu-container:hover {
  width: 246px;
}

.menuitem-container {
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  border-radius: 3px;
  font-size: var(--menu-font-size);
  font-weight: 800;
  cursor: pointer;
}

.menuitem-container:hover {
  background-color: #484A4d;
  /* filter: brightness(1.2); */
  color: #FFF;
}

.menuitem-container:hover .menuitem-container__icon {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.menuitem-container__icon {
  width: 45px;
  margin: 20px;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.menuitem-container--header {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-weight: 800;
}

.menuitem-container__icon--header {
  width: 59px;
  margin: 12.5px;
}

.topbar-container {
  height: var(--horizontal-top-bar-height);
  background-color: var(--container-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar-container__tittle {
  color: var(--tittle-bar-color);
  font-size: 24px;
  font-weight: 800;
  margin: 25px;
}

.topbar-container__user {
  font-size: 16px;
  font-weight: 600;
  color: var(--letter-accent-blue);
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar-container__user-pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 10px;
}
/*# sourceMappingURL=index.css.map */