.page-content{
    display: flex;
    position: relative;

    & .page-content__main-container{
        background-color:#cacaca;
        display:flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        margin-left: var(--vertical-menu-width);
    }
    & .component-container{
        background-color:#FFF;
        border-radius: 1px;
        display:flex;
        justify-content:space-between;
        align-items: center;
        margin:9px;
        height: var( --horizontal-top-bar-width);
    }
}
