
.datePicker-contain {
    position: relative;
    background-color:red;
    display: flex;
    width: 200px;
    height: 150px;
}
.datePicker-contain>*::-webkit-scrollbar {
    display: none;
    /* width: 0; */
}
.datePicker-contain__viewport {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow:hidden;
/*     scroll-behavior: smooth;
 onScroll={function(){alert("asdd")}}
*/    
    scroll-snap-type: y mandatory;

    list-style: none;
    margin: 0;
    padding: 0;
}
  
.datePicker-contain__element {
    background-color: rgb(10, 239, 255);
    flex: 0 0 60px;
    /*     width: 100%;*/    
}
  
.datePicker-contain__element:nth-child(odd) {
    background-color: rgb(182, 255, 153);
}

/* .datePicker-contain__element:nth-child(1) {
    order: 4;
}
.datePicker-contain__element:nth-child(2) {
    order: 1;
} */

.datPicker-containt__snapper {
    width: 100%;
    height: 100%; 
    scroll-snap-align: center;
}

